In [19]:
# and IPython.display for audio output
import IPython.display

# Librosa for audio
import librosa
# And the display module for visualization
import librosa.display

In [31]:
y, sr = librosa.load("E:/songs/...baby one more time - britney spears.mp3", sr=21908.12620404954)

In [40]:
y2, sr2 = librosa.load("E:/songs/a dustland fairytale - the killers.mp3", sr=17088.502150889286)

In [47]:
y3, sr3 = librosa.load("E:/songs/achy breaky heart - billy ray cyrus.mp3")
y4, sr4 = librosa.load("E:/songs/ain't nobody - chaka khan.mp3", sr=18521.541668451948)
y5, sr5 = librosa.load("E:/songs/all my friends - lcd soundsystem.mp3", sr=11304.90179291062)

In [48]:
print (sr)
print (sr2)
print (sr3)
print (sr4)
print (sr5)
print (y.shape)
print (y2.shape)
print (y3.shape)
print (y4.shape)
print (y5.shape)

21908.12620404954
17088.502150889286
22050
18521.541668451948
11304.90179291062
(5175572,)
(5175505,)
(5175296,)
(5175529,)
(5175350,)

In [ ]:
#mfcc
#output length = (seconds) * (sample rate) / (hop_length)

In [45]:
a=10094424/22050
print (a)

457.7970068027211

In [46]:
srr= ((10109) * 512) / a
print (srr)

11305.90179291062

In [49]:
mfcc1=librosa.feature.mfcc(y=y, sr=sr)
print (mfcc1.shape)

mfcc2=librosa.feature.mfcc(y=y2, sr=sr2)
print (mfcc2.shape)

(20, 10109)
(20, 10109)

In [50]:
mfcc3=librosa.feature.mfcc(y=y3, sr=sr3)
print (mfcc3.shape)

mfcc4=librosa.feature.mfcc(y=y4, sr=sr4)
print (mfcc4.shape)

mfcc5=librosa.feature.mfcc(y=y5, sr=sr5)
print (mfcc5.shape)

(20, 10109)
(20, 10109)
(20, 10109)

In [55]:
mfcc1=mfcc1.reshape(1, mfcc1.shape[0] * mfcc1.shape[1])
mfcc2=mfcc2.reshape(1, mfcc2.shape[0] * mfcc2.shape[1])
mfcc3=mfcc3.reshape(1, mfcc3.shape[0] * mfcc3.shape[1])
mfcc4=mfcc4.reshape(1, mfcc4.shape[0] * mfcc4.shape[1])
mfcc5=mfcc5.reshape(1, mfcc5.shape[0] * mfcc5.shape[1])

In [56]:
import pandas as pd

In [81]:
df1=pd.DataFrame(mfcc1.T)
df1.columns=['...baby one more time']
df1.head()

   ...baby one more time
0            -517.267238
1            -517.267238
2            -517.267238
3            -517.261480
4            -516.197968

In [82]:
x='a dustland fairytale'
y="achy breaky heart"
t="ain't nobody"
c="all my friends"

df2=df1.assign(x =  mfcc2.T)
df3=df2.assign( y=  mfcc3.T)
df4=df3.assign(t =  mfcc4.T)
df=df4.assign(c =  mfcc5.T)
df.columns=['...baby one more time',x,y,c,t]
df.head()

,...baby one more time,a dustland fairytale,achy breaky heart,all my friends,ain't nobody
0,-517.267238,-671.378632,-622.869799,-544.139932,-565.075004
1,-517.267238,-671.378632,-622.869799,-544.139932,-565.075004
2,-517.267238,-671.378632,-622.869799,-544.139932,-565.075004
3,-517.261480,-671.378632,-622.869799,-544.139932,-565.075004
4,-516.197968,-671.378632,-622.869799,-544.139932,-565.075004

In [84]:
df.to_csv('output1.csv', sep=' ', encoding='utf-8')

In [83]:
df.cov()

,...baby one more time,a dustland fairytale,achy breaky heart,all my friends,ain't nobody
...baby one more time,1606.259778,1711.160038,1528.009883,1247.795178,629.471537
a dustland fairytale,1711.160038,4245.856744,2836.655362,2114.707082,862.458752
achy breaky heart,1528.009883,2836.655362,2727.979548,1782.638627,754.807767
all my friends,1247.795178,2114.707082,1782.638627,1841.223803,714.922090
ain't nobody,629.471537,862.458752,754.807767,714.922090,731.722734

In [74]:
song_df_2 =  pd.read_csv("output.csv")

In [75]:
song_df_2.head()

  \t...baby one more time - britney spears\ta dustland fairytale - the killers\tachy breaky heart - billy ray cyrus\tall my friends - lcd soundsystem\tain't nobody - chaka khan
0  0\t-517.2672382999208\t-671.3786322380904\t-62...
1  1\t-517.2672382999208\t-671.3786322380904\t-62...
2  2\t-517.2672382999208\t-671.3786322380904\t-62...
3  3\t-517.2614797579901\t-671.3786322380904\t-62...
4  4\t-516.1979680518493\t-671.3786322380904\t-62...